/* Stile für die Tagging-UI */
.daet-tag-input {
    width: 100%;
    max-width: 700px;
}
.daet-tags-display {
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.daet-tag-item {
    display: inline-flex;
    align-items: center;
    position: relative;
}
.daet-remove-tag {
    margin-left: 5px;
    cursor: pointer;
    font-weight: bold;
    line-height: 1;
    padding: 2px;
    opacity: 0.7;
}
.daet-remove-tag:hover {
    opacity: 1;
}
.daet-feedback {
    color: var(--wp-admin-color-red);
    margin-top: 4px;
}

/* Stile für die Toggle-Schalter */
.daet-toggle-switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
}
.daet-toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.daet-toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d63638;
    transition: .4s;
    border-radius: 24px;
}
.daet-toggle-slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .daet-toggle-slider {
    background-color: #4CAF50;
}
input:focus + .daet-toggle-slider {
    box-shadow: 0 0 1px #2271b1;
}
input:checked + .daet-toggle-slider:before {
    transform: translateX(20px);
}